@media (max-width:600px) {

    /* ----------------navbar--------------- */
    .logo img {
        height: 90px;
        width: 100px;
        margin-left: 20px;
    }

    .bar .logsign {
        display: none;
    }

    /* ---------------Home Section -------------------- */
    #home {
        flex-direction: column-reverse;
        text-align: center;
    }

    .right-home img {
        margin-left: 30px;
        z-index: 18;
        height: 30vmax;
        animation: customAni 4s ease-in-out 0ms infinite normal none;
    }

    .left-home {
        text-align: center;
        width: 100%;
        z-index: 20;
        margin: -40px;
    }

    .left-home div {

        margin: 30px 0px auto auto;
        width: 200px;
        border-radius: 20px;
        box-shadow: 0 1px 5px;
    }

    .left-home p {
        font-weight: bolder;
        font-size: 3.3vmax;
        margin-left: 37px;
    }

    /*--------------------- ABout Section --------------------- */

    #about {
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;

    }

    .middle-about {
        flex-direction: column;
        padding: 30px;
        gap: 0vh;
    }

    .left-about {
        margin-left: 50px;
    }

    .left-about img {
        height: 250px;
    }

    .right-about {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        text-align: center;
    }


    .bottom-about {
        margin-top: 60px;
    }

    .bottom-about div {
        width: 200px;
        margin-left: 10px;
    }

    .bottom-about h4 {
        text-align: center;
        padding: 14px;
    }

    /* steps-card > card */
    .steps h1 {
        color: var(--navicol);
        font-size: 1.4rem;
        margin: 20px 0;
        box-sizing: border-box;
    }

    .card {
        height: 180px;
        position: relative;
        width: 250px;
        overflow: hidden;
    }

    .card h1 {
        position: absolute;
        top: -30px;
        right: 0px;
        color: #9b3e584f;
        font-size: 90px;
    }

    .card p {
        position: absolute;
        top: 10vh;
    }


    /* --------------- Contact Form ------------------------------- */

    #contact-us {
        padding: 10vh 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 100px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .input {
        border-bottom: 2px solid blue;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        padding: 5px 10px;
        margin-bottom: 18px;
        outline: none;
    }

    label {
        margin-bottom: 2px;
    }

    form #button {
        width: 90px;
        font-size: 18px;
    }


    /* ----------------------Info Section --------------------- */

    .info h1 {
        color: var(--navicol);
        width: 200px;
    }

    .info-card {
        width: 250px;
    }

    .content h3 {
        margin-bottom: 10px;
    }


    /* ----------------------Footer Section --------------------------- */

}