<footer>
    <h5>You can follow Us on Social Media</h5>
    <div class="contact-nav">
        <div>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-facebook-box-fill"></i></a>
           <a href="#"> <i class="ri-threads-fill"></i></a>
           <a href="#"><i class="ri-twitter-x-fill"></i></a>
        </div>
    </div>
    <br>
    <div>
        copyright &copy; 2023 reserved
    </div>
</footer>
</div>
<script src="js/script.js"></script>
</body>

</html>