<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidyaShakti-Fundraiser</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mediaquery.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="logo.png" alt="logo">
        </div>
        <div class="bar">
            <div class="logsign">
                <a href="/login">LogIn/SignUp</a>
            </div>
            <nav>
                <input type="checkbox" name="" id="click" onclick="updatemenu()">
                <label for="click" class="menu-btn">
                    <i id="icon1" class="ri-list-check"></i>
                    <i id="icon2" class="ri-close-line"></i>

                </label>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about-us">About us</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                    <li><a href="/login">Login/SignUp</a></li>
                </ul>
            </nav>
        </div>
    </div>