<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidyaShakti-Fundraiser</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mediaquery.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        .content-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;

            width: 98%;
            margin-top: 8%;
        }

        h2 {
            color: #333;
            margin-bottom: 18px;
        }

        p {
            color: #666;
            margin-bottom: 12px;
        }

        @media (max-width: 480px) {
            .content-container {
                margin-top: 30%;
                width: 95%;
            }
        }
    </style>
</head>


<body>

    <div class="navbar">
        <div class="logo">
            <img src="logo.png" alt="logo">
        </div>
        <div class="bar">

            <nav>
                <input type="checkbox" name="" id="click" onclick="updatemenu()">
                <label for="click" class="menu-btn">
                    <i id="icon1" class="ri-list-check"></i>


                </label>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about-us">About us</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>

  

<div class="content-container">
    <h2>User Information</h2>
    <p><strong>Name:</strong> <%= foundUser.name %></p>
    <p><strong>Phone Number:</strong> <%= foundUser.phone %></p>
    <p><strong>Email:</strong> <%= foundUser.email %></p>
</div>


    <!-- More content can be added here in the future -->

</body>

</html>