:root {
    --pricol: #f40776;
    --seccol: #f6c708;
    --textcol: #424141;
    --navicol: #676666;

}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Mukta&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    scroll-behavior: none;
}


.main-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* ---------------NAVBAR--------------------------- */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000003a;
    padding: 10px;
    border-bottom: 1px solid #dadada;

}

.logo img {
    height: 120px;
    width: 130px;
    margin-left: 60px;
}

.bar {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bar .logsign {
    background-color: var(--pricol);
    padding: 8px 20px;
    border-radius: 25px;
    box-shadow: 0px 1px 5px;
    position: sticky;
}

.bar .logsign:hover,
.bar .logsign:hover a {
    background-color: #fff;
    color: var(--pricol);
}

.bar .logsign a {
    color: #fff;
}

nav ul,
#click {
    display: none;
}

#click:checked~ul {
    display: inline;
    position: fixed;
    text-align: center;
    right: 0px;
    top: 100px;
    min-width: 100vw;
    z-index: 99;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.619);
}

nav ul li {
    list-style: none;
    padding: 10px;
}

nav ul li a {
    margin: 30px;
    color: #fff;
}

nav ul li:hover,
nav ul li:hover a {
    background-color: var(--seccol);
    color: #000;
}

i {
    font-size: 25px;
    color: #000;
    margin-right: 15px;
    cursor: pointer;
}



/* -------------------CONTENT SECTION ------------------ */
#home {
    display: flex;
    margin-top: 130px;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

.left-home {
    padding: 80px;
    width: 100%;
    z-index: 20;
    /* mix-blend-mode: difference; */
}

.left-home p {
    color: var(--textcol);
    width: 100%;
    font-weight: 400 ;
   font-stretch:expanded;
  
    font-size: 4.5vmax;
    font-family:cursive;
    margin-left: 60px;
}

.left-home p span {
    color: var(--pricol);
}

.left-home div {
    margin-top: 30px;
    text-align: center;
    background-color: var(--pricol);
    padding: 8px;
    width: 320px;
    height: 42px;
    margin-left: 60px;
    border-radius: 40px;
    box-shadow: 0 1px 5px;
}

.left-home div a {
    
    color: #fff;
    font-size: 20px;
}

.left-home div:hover,
.left-home div:hover a {
    background-color: #fff;
    color: var(--pricol);
}

.right-home {
    width: 50%;
    position: relative;
}


.right-home img {
    z-index: 18;
    height: 35vmax;
    animation: customAni 4s ease-in-out 0ms infinite normal none;
}

@keyframes customAni {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

/* ---------------------ABOUT  US--------------------- */

#about {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;

}

.top-about,
.top-about i {
    color: var(--navicol);
    margin-top: 14vh;
    text-align: center;
}

.middle-about {
    padding: 30px 90px;
    display: flex;
    gap: 10vh;
}

.left-about {
    margin: 20px 60px;
    position: relative;
}


.left-about img {
    height: 350px;
    z-index: 2;

}

.right-about {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.right-about h1 {
    letter-spacing: 0.5px;
    color: var(--textcol);
    font-size: 45px;
    font-stretch: extra-expanded;
}

.right-about p {
    color: var(--textcol);
    font-size:  large;
    line-height: 32px;
}

.bottom-about {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
 
}

.bottom-about span {
    color: var(--pricol);
    

}

.bottom-about div {
    margin-top: 30px;
    text-align: center;
    background-color: var(--pricol);
    padding: 8px;
    width: 250px;
    margin-left: 60px;
    border-radius: 20px;
    box-shadow: 0 1px 5px;
}

.bottom-about div a {
    color: #fff;
    font-size: 14px;
}

.bottom-about div:hover,
.bottom-about div:hover a {
    background-color: #fff;
    color: var(--pricol);
}

.steps {
    margin-top: 6vh;
    margin-bottom: 3vh;
    width: 100%;
    background-color: #ece8e6;
    padding: 6vh;
    /* height: 20vh; */
}

.steps h1 {
    color: var(--navicol);
    font-size: 1.4rem;
    margin: 20px 0;
    box-sizing: border-box;
    
   
}

.steps-card {
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
   flex-wrap: wrap;
   gap: 20px;
}

.card {
    text-align: center;
    padding: 10px;
   
    border: 3px solid #dadada;
    display: flex;
    height: 180px;
    width: 250px;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
}

.card h1 {
    position:absolute;
    top: -30px;
    right: 40%;
    color: #9b3e58ac;
    font-size: 75px;
    padding-top: 10px;
   
}  
.card p{
    position: absolute;
    top: 12vh;
    line-height: 22px;
}



/* --------------------- Contact-Us -------------------- */
#contact-us {
    padding: 10vh 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 100px;
    border: 2px solid #dadada;
}

form {
    display: flex;
    flex-direction: column;
}

.input {
    border-bottom: 2px solid blue;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px 10px;
    margin-bottom: 18px;
    outline: none;
}

label {
    margin-bottom: 2px;
}

form #button {
    width: 70px;
    padding: 6px;
    color: var(--pricol);
    background-color: #fff;
    border: 1px solid #dadada;
    transition: all 0.5s
}

form #button:hover {
    color: #fff;
    background-color: var(--pricol);
    outline: none;

}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    padding: 10vh;
    background-color: #fcf8f6;

}

.info-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card{
    border: 2px solid #dadada ;
    display: flex;
    height: 150px;
    width: 250px;
    padding: 10px;

}
.info-card i{
    font-size: 50px;
    margin-top: 20px;
    color: #9c3453;
}
.content h3{
    color: #9c3453;
    margin-bottom: 10px;
}



/* --------------------------footer Section ------------------- */
footer{
    background-color: #002233;
    padding: 40px 40px;
    color: #fff;
    text-align: center;
}
footer h5{
    margin: 20px 0;
}
.contact-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    /* margin: 10px 30px 0px 0px; */

}
footer div{
    display: block;
}
.contact-nav a i{
color: #fff;

}